# Third party
**/node_modules

# Not written by hand
# packages/

# Build products
build/
coverage/
fixtures/
scripts/

# React repository clone
# scripts/bench/remote-repo/

# Compiler uses its own lint setup
compiler/

package/